/* Coolors Exported Palette - coolors.co/ca054d-533b4d-a4d4b4-ffcf9c-b96d40 */

/* HSL */
$color1: hsla(338%, 95%, 41%, 1);
$color2: hsla(315%, 17%, 28%, 1);
$color3: hsla(140%, 36%, 74%, 1);
$color4: hsla(31%, 100%, 81%, 1);
$color5: hsla(22%, 49%, 49%, 1);

/* RGB */
$color1: rgba(202, 5, 77, 1);
$color2: rgba(83, 59, 77, 1);
$color3: rgba(164, 212, 180, 1);
$color4: rgba(255, 207, 156, 1);
$color5: rgba(185, 109, 64, 1);